/* Fonts */
@import url("https://fonts.cdnfonts.com/css/gotham-6");

body {
    font-family: "Gotham", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Gotham", sans-serif;
}

input {
    font-family: "Gotham", sans-serif;
}

p { 
    font-family: "Gotham", sans-serif;
    color: white;
}

.title {
    color: #1DB954;
}

/* Navbar */
.fa-spotify .navbar-brand {
    color:#1DB954;
}

/* Main */
.container-fluid {
    background-color: #191414;
}

.html {
    background-color: #191414;
}

.plot-center {
    display: flex;
    justify-content: center;
}

#sentiment_text, #most_sentiment {
    font-size: 30px;
    color: white;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

#energy_vs_positivity, #speechiness_vs_danceability {
    font-size: 40px;
    color: Yellow;
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}